body {
    background-color: aquamarine;
}
.cardContainer {
    margin-top: 15%;
    margin-bottom: 10%;
    color: $color1;
    background-color: black;
    

        
}
.cardBody{
    background-color: $color2;
}
.cardTitle{
    font-family: $font1;
    font-size: 2.5rem;
    color: white;
}
.cardHead {
    background-color: $color1;
    color: black;
}