.containerF {
    background-color: black !important;
    border-radius: 0.3rem  !important;
    color: $color1;
    text-decoration: none !important;
}

.titleF {
    background-color: $color1;
    color: black;
    width: 100%;
    border-radius: 5%;
    border: 2px solid black;
}

.ulF {
    border: 1px solid $color1;
}